In [2]:
import pandas as pd

In [5]:
data = pd.read_excel('test.xlsx')

In [6]:
print(data)

      Scan                 Time  tank 2   tank3  tan out  205 (C)  206 (C)  \
0      1.0             09:51:53  42.527  41.638   41.418   42.430   42.916
1      2.0             09:52:23  42.652  41.678   41.764   42.736   42.778
2      3.0             09:52:53  42.730  41.708   42.058   42.932   42.840
3      4.0             09:53:23  42.802  41.745   42.250   43.065   42.940
4      5.0             09:53:53  42.891  41.786   42.471   43.261   43.119
...    ...                  ...     ...     ...      ...      ...      ...
1011   NaN  2024-01-03 00:00:00     NaN     NaN      NaN      NaN      NaN
1012   NaN  2024-01-03 00:00:00     NaN     NaN      NaN      NaN      NaN
1013   NaN  2024-01-03 00:00:00     NaN     NaN      NaN      NaN      NaN
1014   NaN  2024-01-03 00:00:00     NaN     NaN      NaN      NaN      NaN
1015   NaN  2024-01-03 00:00:00     NaN     NaN      NaN      NaN      NaN

      209 (C)  210 (C)  211 (C)  212 (C)  213 (C)
0      44.243   43.369   43.246   43.190   37.172
1      44.491   43.606   43.339   43.260   36.683
2      44.635   43.727   43.450   43.385   35.322
3      45.130   43.867   43.586   43.515   35.520
4      44.428   43.962   43.732   43.658   36.131
...       ...      ...      ...      ...      ...
1011      NaN      NaN      NaN      NaN      NaN
1012      NaN      NaN      NaN      NaN      NaN
1013      NaN      NaN      NaN      NaN      NaN
1014      NaN      NaN      NaN      NaN      NaN
1015      NaN      NaN      NaN      NaN      NaN

[1016 rows x 12 columns]

In [13]:
# 30 sec intervals la irundhadhu so naa evry 10th row yeduthaa 5 mins ku varum so adg=ha mattum yeduthukitan kaa

data = data.iloc[::10, :]
print(data)

      Scan                 Time  tank 2   tank3  tan out  205 (C)  206 (C)  \
0      1.0             09:51:53  42.527  41.638   41.418   42.430   42.916
10    11.0             09:56:53  43.579  42.052   43.357   44.037   43.956
20    21.0             10:01:53  44.870  42.628   44.617   45.364   45.179
30    31.0             10:06:53  46.143  43.289   45.837   46.538   46.463
40    41.0             10:11:53  47.350  43.992   47.069   47.787   47.822
...    ...                  ...     ...     ...      ...      ...      ...
970    NaN  2024-01-03 00:00:00     NaN     NaN      NaN      NaN      NaN
980    NaN  2024-01-03 00:00:00     NaN     NaN      NaN      NaN      NaN
990    NaN  2024-01-03 00:00:00     NaN     NaN      NaN      NaN      NaN
1000   NaN  2024-01-03 00:00:00     NaN     NaN      NaN      NaN      NaN
1010   NaN  2024-01-03 00:00:00     NaN     NaN      NaN      NaN      NaN

      209 (C)  210 (C)  211 (C)  212 (C)  213 (C)
0      44.243   43.369   43.246   43.190   37.172
10     45.681   44.702   44.592   44.528   36.652
20     46.405   45.915   45.921   45.854   37.000
30     47.994   47.120   47.171   47.121   36.101
40     49.040   48.328   48.383   48.333   37.672
...       ...      ...      ...      ...      ...
970       NaN      NaN      NaN      NaN      NaN
980       NaN      NaN      NaN      NaN      NaN
990       NaN      NaN      NaN      NaN      NaN
1000      NaN      NaN      NaN      NaN      NaN
1010      NaN      NaN      NaN      NaN      NaN

[102 rows x 12 columns]

In [ ]:
data.to_excel('5_Mins_interval.xlsx', index=False)